@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

* {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

@theme {
  --color-primary: #5044e5;
}

@layer components {
  .flex-wrapper {
    @apply flex flex-col items-center gap-6 px-4 sm:px-12 lg:px-24 xl:px-40;
  }
}
